*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #b2dfdb 0%, #eccec4 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    font-size:60px;
    background-color: rgb(34, 95, 75);
    color: rgb(188, 227, 214);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50vw;
    text-align: center;
    margin-top: 20px;
    border-radius: 40px;
    box-shadow: #508d87 0px 0px 15px 3px;
    
}

.content{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    justify-content: space-around;
    margin-top: 5vh;
}

.container{
    height: 54vh;
    width: 30vw;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.user-pick-container{
    color: rgb(45, 25, 201);
    transform: translateX(5vw);
}

.computer-pick-container{
    color:  rgb(225, 54, 11);
    transform: translateX(-5vw);
}


.score-container{
    height: 15vh;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw;
    grid-template-rows: 15vh;
    justify-content: space-around;
    text-align: center;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.win-lose{
    margin-top: 1vh;
    font-size: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win-box{
    background-color: rgb(45, 25, 201);
    color: aliceblue;
}

.lose-box{
    background-color: rgb(225, 54, 11);
    color: white;
}

.tie-box{
    background-color: rgb(93, 98, 66);
    color: azure;
    margin-top: 1vh;
    font-size: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-container{
    display: flex;
    flex-direction: column;
    height: 54vh;
}

.result-details-container{
    height:25vh ;
    color: rgb(125, 77, 19);
    text-align: center;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.x-beats-y{
    margin-top: 6vh;
    font-size: 30px;
}

.result{
    margin-top: 4vh;
    font-size: 49px;
}

.reset-score-box{
    position: absolute;
    width: 98.7vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    bottom: 28vh;
}

.reset-score-button,.AutoPlay-button{
    position: relative;
    height: 10vh;
    font-size: 30px;
    text-align: center;
    background-color: rgb(34, 95, 75);
    color: rgb(188, 227, 214);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0vh 1vw;
    padding: 10px;
    border: none;
    border-radius: 40px;
    padding: 0vh 1vw;
    box-shadow: #508d87 0px 0px 15px 3px;
    cursor: pointer;
}
.reset-score-button:active,.AutoPlay-button:active{
    transform: scale(0.97);
}

.picking-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pick-img{
    margin: 4vh 2vw;
    height: 20vh;
    width: 20vh;
    background-size: cover;
    background-color: transparent;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    color: transparent;
}

.pick-img:active{
    transform: scale(0.95);
}

.rock-img{
    background-image: url('rock_user.png');
    box-shadow: 0px 0px 20px 4px rgb(185, 185, 47);
}

.paper-img{
    background-image: url('paper_user.png');
    box-shadow: 0px 0px 20px 4px rgba(31, 168, 166, 0.941);
}
.scissor-img{
    background-image: url('scissors_user.png');
    box-shadow: 0px 0px 20px 4px rgb(216, 120, 211);
}

#user-img-box{
    height: 35vh;
    width: 35vh;
    margin-top: 7vh;
    background-size: cover;
    position: relative;
    border-radius: 150px;
}

#user-img-box::after{
    content: 'Your Picking appears here';
    position: absolute;
    top: 0;
    left: 24%;
    height: 100%;
    width: 50%;
    color: rgba(77, 61, 200, 0.538);
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: -1;
}

#computer-img-box{
    height: 35vh;
    width: 35vh;
    margin-top: 7vh;
    background-size: cover;
    position: relative;
    border-radius: 150px;
}

#computer-img-box::after{
    content: "Computer's Picking appears here";
    position: absolute;
    top: 0;
    left: 18%;
    height: 100%;
    width: 50%;
    color:  rgba(225, 54, 11, 0.541);
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: -1;
}


@media (max-width: 575.98px) {

    body{
        position: relative;
        width: 100vw;
        height: 10vh;
    }

    .header{
        font-size:30px;
        background-color: rgb(34, 95, 75);
        color: rgb(188, 227, 214);
        font-family: "Bungee", sans-serif;
        font-weight: 200;
        font-style: normal;
        width: 90vw;
        text-align: center;
        margin-top: 20px;
        border-radius: 40px;
        box-shadow: #508d87 0px 0px 15px 3px;
    }

    .content{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 15vh 54vh;
        justify-content: space-around;
        margin-top: 5vh;
    }

    .container{
        font-size: 40px;
    }

    .score-container{
        display: grid;
        grid-template-columns: 33vw 33vw 33vw;
        grid-template-rows: 13vh;
        justify-content: space-around;
        text-align: center;
        font-family: "Changa One", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1px;
    }

    .user-pick-container{
        grid-area: 2/1/3/2;
    }

    .computer-pick-container{
        grid-area: 2/2/3/3;
    }

    .win-lose{
        width: 25vw;
        margin-right: 5vw;
        font-size: 25px;
    }
    .tie-box{
        width: 25vw;
        font-size: 25px;
    }

    .heading{
        font-size: 30px;
    }
    #user-img-box{
        height: 17vh;
        width: 17vh;
        top: -3vh;
    }
    #user-img-box::after{
    content: 'Your Picking appears here';
    position: absolute;
    top: 0;
    left: 24%;
    height: 100%;
    width: 50%;
    color: rgba(77, 61, 200, 0.538);
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: -1;
    }
    .computer-pick-container{
        position: relative;
        left: 10vw;
    }
    #computer-img-box{
        height: 17vh;
        width: 17vh;
        top: -3vh;
    }
    #computer-img-box::after{
    content: "Computer's Picking appears here";
    position: absolute;
    top: 0;
    left: 18%;
    height: 100%;
    width: 50%;
    color:  rgba(225, 54, 11, 0.541);
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: -1;
}
    .reset-score-button{
        top: 7vh;
        left: 2px;
        height: 6vh;
        font-size:18px;
        padding: 0px 12px;

        box-shadow: #508d87 0px 0px 10px 3px;
    }
    .picking-section{
        margin-top: -3vh;
    }
    .pick-img{
        height: 12vh;
        width: 12vh;
        margin:auto 3vw;
    }
    .result-details-container{
        position: relative;
        width: 100vw;
        height: 20vh;
        top: 30vh;
    }
    .x-beats-y{
        font-size: small;
    }
    .result{
        font-size: small;
    }
}

